a {
    text-decoration: none;
    /*color: #002bb8;*/
    color: #003366;
    background: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    text-decoration: underline;
    color: purple;
}

.gray {
    color: gray;
}

select {
    padding: 2px 2px;
    margin: 2px 0px 16px 10px;
}

div.boxed {
    padding: 4px;
    display: block;
}

#indexform {
    width: 500px;
    border: 2px solid #aaa;
    padding: 12px;
}

#indexform label {
    display: block;
    text-align: right;
    width: 240px;
    float: left;
}

#indexform input[type='checkbox'] {
    float: left;
    margin: 2px 0 20px 10px;
    padding: 4px 2px;
}

#indexform textarea {
    width: 80%;
    height: 200px;
    float: left;
    padding: 2px 2px;
    margin: 2px 0px 16px 10px;
}

#indexform input[type="text"] {
    width: 200px;
    float: left;
    padding: 2px 2px;
    margin: 2px 0px 16px 10px;
}

#indexform button {
    width: 125px;
    height: 32px;
    font-weight: bold;
    text-align: center;
    margin-left: 200px;
}

#footer {
    background-color: white;
    border-top: 1px solid #fabd23;
    border-bottom: 1px solid #fabd23;
    height: 34px;
    margin: .6em 0 1em 0;
    padding: 6px 0 4px 4px;
    text-align: center;
    font-size: 90%;
}

hr {
    height: 1px;
    color: #aaa;
    background-color: #aaa;
    border: 0;
    margin: .2em 0 .2em 0;
}

html {
    background-color: #eee;
    /*font-family: sans;*/
}

body {
    font-family: sans-serif;
    font-size: 12.7px;
    /*background-color: #fff;*/
    line-height: 1.5em;
    background-color: #F8FCFF;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
}

pre {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 5px;
}

#warnings {
    font-size: 0.8em;
}

div.mbox {
    background-color: #FEE;
    padding: 0.25em 0.5em;
    border: 1px solid #aaa;
    border-left: 10px solid #B22222;
    width: 865px;
}

