.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x .axis path {
  /*display: none;*/
}

.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.whisker {
    fill: none;
    stroke: crimson;
    stroke-width: 1px;
}
.fakeline {
    display: none;
    fill: none;
    stroke: none;
    stroke-width: 0px;
}

.focusline {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
}

.focuscircle {
    fill: none;
    stroke: slateblue;
}

.focusbar {
    fill: slateblue;
    stroke: slateblue;
}

.redline {
    fill: none;
    stroke: crimson;
    stroke-width: 2px;
}

.greenline {
    fill: none;
    stroke: mediumseagreen;
    stroke-width: 2px;
}

.purpleline {
    fill: none;
    stroke: darkorchid;
    stroke-width: 2px;
}

.redblock {
    fill: crimson;
    stroke: maroon;
}

.greenblock {
    fill: mediumseagreen;
    stroke: teal;
}

.purpleblock {
    fill: darkorchid;
    stroke: indigo;
}

.legend {
    border: 1px gray solid;
	border-right: none;
    float: left;
    margin-top: 11em;
    padding: 10px;
    min-width: 80px;
}

.legend ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.legend ul li {
    margin-bottom: 4px;
}
