    <div id=footer>
        <a href="https://toolforge.org/">
            <img src="/static/res/logos/powered-by-tool-labs-2.png" alt="Powered by Toolforge" style="float: left"/>
        </a>
        <small>
            &copy;&nbsp;2016&nbsp;<a href="https://en.wikipedia.org/wiki/User:&Sigma;">User:&Sigma;</a>
        </small>
    </div>
